<!DOCTYPE html>
<html>
<head>
	<title>Where you at tonight?</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script type="text/javascript" src="/js/auth.js"></script>

	<!-- JS file uncomment above -->

	<link rel="stylesheet" type="text/css" href="/css/custom.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="padding: 2%;">
<div class="container-fluid" style="min-height: 95%">

	<div class="row">
		<div class="col-xs-6 text-left"><h1>Bars in your area</h1></div>
			
		<div class="col-xs-6 text-right">
		<h1>
		<% if (id) {%>
			<a href="/logout"><i class="fa fa-sign-out"></i></a>
		<% } %>
		<a href="/login"><%- symbol %></a></h1>
	</div>

	</div>	
			<form method="POST" action="/">
				<input class="submit-text" type="text" name="location" required="true" placeholder="Enter your place">
				<button class="btn btn-default submit-btn" id="submit-button" type="submit">Submit</button>
			</form>

			<h2 class="caps"><%= city %></h2>
			<% if (barsPresent) { %>
				<% bars.forEach(function(bar){ %>
					<hr>
					<p><%= bar.name %></p>
					<p style="color: <%= bar.ratingColor %>"><%= bar.rating %></p>
					<p><%= bar.review %></p>
					<a class="btn btn-default going-counter" id="<%= bar.id %>">I am not going</a>
					<br>
				<% }) %>
			<% } %>
</div>

			
</body>
</html>